@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
}

:root {
    --cor-texto: #fafafa;
    --bg-imagem: url('../assets/madalena.jpg');
    --main-border: 1px solid #fffffff1;
    --main-bg: linear-gradient(hsla(0, 9%, 84%, 0.125), hsla(60, 7%, 44%, 0.502));
    --link-border: 1px solid #afa999;
    --link-bg: hsl(0, 0%, 44%);
    --link-texto: #fafafa;
    --link-bg-hover: #664739;
    --btn-troca-bg: #664739;

}

body.light {
    --cor-texto: hsl(0, 3%, 72%);
    --bg-imagem: url('../assets/madalena-pb.jpg');
    --main-border: 1px solid hwb(0 80% 15% / 0.945);
    --main-bg: linear-gradient(hwb(0 18% 81% / 0.125), hwb(60 23% 75% / 0.502));
    --link-border: 1px solid hwb(47 34% 63%);
    --link-bg: hwb(0 20% 79%);
    --link-texto: #fafafa;
    --link-bg-hover: hsl(20, 27%, 19%);
    --btn-troca-bg: hsl(20, 25%, 12%);
}

body {
    width: 100%;
    height: 100dvh;
    background-image: var(--bg-imagem);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;
    padding: 4.75rem 1rem 1rem 1rem;
    border: var(--main-border);
    background-image: var(--main-bg) backdrop-filter: blur(2px);
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .foto {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        .frente,
        .verso {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
            backface-visibility: hidden;
            transition: transform 300ms ease;

            img {
                width: 100%;
                display: block;
            }
        }

        .frente {
            z-index: 2;
        }

        &:hover {
            .frente {
                transform: rotateY(180deg);
            }

            .verso {
                transform: rotateY(360deg);
            }
        }

    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            list-style-type: none;

            a {
                width: 100%;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .3rem;
                border: var(--link-border);
                border-radius: .5rem;
                background-color: var(--link-bg);
                color: var(--link-texto);
                text-decoration: none;
                transition: 300ms;

                i {
                    color: bisque;
                    transform: scale(1.05);
                    background-color: #664739;
                }

                &:hover {
                    transform: scale(1.06);
                    background-color: #664739;
                }
            }
        }
    }
}

#trocaTema {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: var(--main-border);
    background-color: var(--btn-troca-bg);
    color: var(--cor-texto);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 300ms all;

    &:hover {
        transform: scale(1.1);
    }
}